@use "../../../styles/colors" as *;

.container {
  button {
    background-color: transparent;
    border: none;

    svg {
      width: 1.5rem;
      cursor: pointer;
      height: auto;
      color: $off-white;
    }
  }
}
