@use "../../../styles/mixins.module.scss" as *;
@use "../../../styles/colors.module.scss" as *;
@use "../../../styles/variables.scss" as *;

.button {
  background-color: transparent;
  border: none;
  padding: 2px 6px 3px 6px;

  &:hover {
    svg {
      color: $white;
    }
  }

  svg {
    @include icon;
    width: 0.8rem;
    color: $gray;
    opacity: 0;
    transition: opacity $transition-rate;
  }
}
