@use "../../../styles/colors.module.scss" as *;
@use "../../../styles/mixins.module.scss" as *;
@use "../../../styles/variables" as *;

.container {
  @include foreground-element;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  p {
    color: $white;
    @include foreground-spacing;
    cursor: default;
    user-select: none;
  }

  svg {
    cursor: pointer;
    height: auto;
    color: $white;
  }

  &:hover {
    span {
      > span {
        opacity: 1;
      }
    }
  }

  span {
    > span {
      transition: opacity $transition-rate;
      opacity: 0;
      margin: 0;
    }
    display: flex;
    align-items: center;
    margin-right: 1rem;
    gap: 0.3rem;

    > svg {
      transition: transform 0.5s;
      width: 3rem;
    }
  }
}

.expanded {
  span > svg:last-child {
    transform: rotate(-90deg);
  }
}

.hide {
  opacity: 0;
  transform: scaleY(0);
  max-height: 0;
  margin-bottom: 0 !important;
}
