@use "styles/colors" as *;

.container {
  margin: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.menu {
  align-self: flex-end;
  margin-right: 5%;
  margin-bottom: 1rem;
}
